.miDivision{

    border: white solid 4px;
    background-color: skyblue;
    width: 250px;
    height: 300px;
    margin: 0 auto;
    background-image: 
}
.inputText{
    width: 200px;
    margin: 10px;
    font-size: 20px;
    font-family: Cloudy;
    border-style: groove;
    
}
.myButton{

    display: inline-block;
    display: block;
    margin: 40px;
    font-family: cloudy;
    background-color: rgb(223, 132, 223);
    border-style: groove;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    box-shadow: 0 9px #999;
    
}

.myButton1{
    display: block;
    margin: 40px;
    font-family: cloudy;
    background-color:  rgb(163, 120, 233);
    border-style: groove;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    box-shadow: 0 9px #999;
}


.resultado{

    font-family: Cloudy;
    font-size: 100px;
    width: 20px;
    height: 30px;
    margin:0 auto;
}
